<%= form_with(model: friendsdb, local: true) do |form| %>
  <% if friendsdb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friendsdb.errors.count, "error") %> prohibited this friendsdb from being saved:</h2>

      <ul>
      <% friendsdb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="control-group">
    <div class="col-md-3">
      <%= form.text_field :first_name, class:"form-control", placeholder:"First Name" %>
    </div>
  <br>
    <div class="col-md-3">
      <%= form.text_field :last_name, class:"form-control", placeholder:"Last Name" %>
    </div>
  <br>
    <div class="col-md-3">
      <%= form.text_field :email, class:"form-control", placeholder:"Email"%>
    </div>
  <br>
    <div class="col-md-3">
      <%= form.text_field :phone, class:"form-control", placeholder:"Phone" %>
    </div>
  <br>
    <div class="col-md-3">
      <%= form.text_field :instagram, class:"form-control", placeholder:"Instagram"%>
    </div>
  <br>
    <%= form.number_field :user_id, id: :friendb_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>


<br/>
  <div class="actions">
    <%= form.submit class:'btn btn-dark' %>
  </div>
<% end %>