<p id="notice"><%= notice %></p>


<table class="table table-dark table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Instagram</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friendsdbs.each do |friendsdb| %>
      <tr>
        <td><%= friendsdb.first_name %></td>
        <td><%= friendsdb.last_name %></td>
        <td><%= friendsdb.email %></td>
        <td><%= friendsdb.phone %></td>
        <td><%= friendsdb.instagram %></td>
        <td><%= link_to 'Show', friendsdb %></td>
        <td><%= link_to 'Edit', edit_friendsdb_path(friendsdb) %></td>
        <td><%= link_to 'Destroy', friendsdb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friends', new_friendsdb_path, class:"btn btn-secondary btn-dark" %>
